[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
bcrypt = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
python-decouple = "*"
sqlalchemy = {version = "*", extras = ["asyncio"]}
aiosqlite = "*"
asyncpg = "*"

[requires]
python_version = "3.9"

[dev-packages]
pytest = "*"
coverage = "*"
yapf = "*"
pre-commit = "*"
pytest-asyncio = "*"
